.navbar {
    max-width: 1200px;
    margin: 0 auto;
}


.banner-container {
    background-image: url('./assets/hero-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.about-content,
.why-choose,
.feature,
.host-section,
.count {
    max-width: 1200px;
    margin: 0 auto;
}

.hamburger-menu {
    display: none;
}

.count {
    padding: 0;
}

.choose-content:hover{
    transform: scale(1.02);
}

footer {
    background-image: url('./assets/footer-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
}

/* Responsive Media Query  */

@media screen and (max-width: 576px) {

    /* navbar */
    nav {
        padding: 18px 20px;
        max-width: 576px;
    }

    .hamburger-menu {
        display: inline;
        width: 24px;
        height: 24px;
    }

    .nav-menu {
        display: none;
    }

    .nav-btn {
        display: none;
    }

    /*  hero / banner section  */

    .banner-container {
        padding: 40px 20px;
        width: 100%;


    }

    .about-content {
        padding: 40px 20px;
    }

    .count {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 40px;

    }

    .why-choose h1 {
        padding: 40px 20px 16px 20px;
    }

    .choose-container {
        grid-template-columns: repeat(1, 1fr);
        padding: 20px;
        column-gap: 0;
    }

    .feature-content {
        grid-template-columns: repeat(1, 1fr);
        width: 380px;
        margin: 0 auto;
    }

    .host-details {
        margin: 24px 20px 40px 20px;
        flex-direction: column;
        text-align: center;
    }

    .host-details .host-img {
        width: 150px;
    }

    .host-img-box {
        display: flex;
        justify-content: center;
    }

    .host-icon {
        justify-content: center;
    }

    /* footer section  */
    footer {
        background-size: ;
    }

    .footer-img {
        width: 220px;
    }

    .footer-icon {
        flex-direction: column;

        align-items: center;
    }

    .footer-icon img {
        width: 24px;
        height: 24px;
    }
}